* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 151);
    background: url(../img/fondo.png);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: $fuente-titulos;
    font-weight: bold;
    color: $color-fuentes;
}

h2,
h3,
h4 {
    font-family: $fuente-titulos;
    color: $color-principal;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

.espaciado{
    margin-bottom: 30px;
}
