.logo {
    width: 70px;
    border-radius: 50px;
}

.barra {
    background-color: $color-principal;
    border-radius: 30px;
    margin: 10px;
}

.menuNav a {
    @include anclas;

    &:hover {
        color: $color-principal;
        background-color: $color-fuentes;
        align-items: center;
    }
}